<div class="row">
    <div class="col-md-3">
        <div class="well sidebar-nav">
            <ul class="nav">
                <li>
                    Navigation
                </li>
                <li>
                    <%= link_to "Add business location".html_safe, new_business_path %>
                </li>
            </ul>
        </div>
    </div>
    <!-- End Sidebar --><!-- Begin Content -->
    <div class="col-md-9">
        <div class="row margin-bottom-10">
            <%= gmaps4rails(@json) %>
            <% if @businesses.present? %>
            <div class="table-responsive">
                <h3>Business Locations:</h3>
                <table id="businesses" class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Address
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @businesses.each do |business| %>
                        <tr>
                            <td>
                                <%= link_to "#{business.name}", business_path(business) %>
                            </td>
                            <td>
                                <%= link_to "#{business.gmaps4rails_address}", business_path(business) %>
                            </td>
                            <td>
                                <%= link_to "Edit" ,edit_business_path(business) %> | <%= link_to "Remove", business_path(business), :data => { :confirm => "Are you sure?" }, :method => :delete %>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
            <% else %>
            <h3 class="text-center">
            Add up to 10 business locations. <%= link_to "Add a business location.".html_safe, new_business_path %>
            <% end %>
        </div>
    </div>
</div>
