<p id="notice"><%= notice %></p>

<p>
  <b>Super admin:</b>
  <%= @business.super_admin_id %>
</p>

<p>
  <b>Name:</b>
  <%= @business.name %>
</p>

<p>
  <b>Location:</b>
  <%= @business.location %>
</p>

<p>
  <b>Longitude:</b>
  <%= @business.longitude %>
</p>

<p>
  <b>Latitude:</b>
  <%= @business.latitude %>
</p>
<h2>Managers</h2>
<ul>
  <% @managers.each do |manager| %>
    <li><%= link_to "#{manager.name}", business_manager_path(@business, manager) %></li>
  <% end %>
</ul>

<h2>Staff/Employees</h2>
<ul>
<% @employees.each do |employee| %>
  <li><%= link_to "#{employee.name}", business_employee_path(employee) %></li>
<% end %>
</ul>


<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
<%= link_to 'Create New Manager', new_business_manager_path(@business) %>
<%= link_to 'Create New Employee', new_business_employee_path(@business) %>
