<p id="notice"><%= notice %></p>

<p>
  <b>Business:</b>
  <%= @employee.business_id %>
</p>

<p>
  <b>Name:</b>
  <%= @employee.name %>
</p>

<p>
  <b>Email:</b>
  <%= @employee.email %>
</p>

<!-- <p>
  <b>Password:</b>
  <%#= @employee.password %>
</p>

<p>
  <b>Password confirmation:</b>
  <%#= @employee.password_confirmation %>
</p> -->


<%= link_to 'Edit', edit_business_employee_path(@employee) %> |
<%= link_to 'Back', :back %>
