<div class="container">
  <div class="row-fluid">
    <div class="span3 offset3">
      <h2>Sign up</h2>

      <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <%= f.input :email, autofocus: true, required: true, label: false, input_html: {class: "span12"} %>
        <%= f.input :password, :required => true, label: false, input_html: {class: "span12"} %>
        <%= f.input :password_confirmation, label: false, :required => true, input_html: {class: "span12"} %>
        <%= f.button :submit, "Sign Up", class: "" %> 
      <% end %>

      <%= render "devise/shared/links" %>

      <!-- this route didn't work so I commented it out -->
      <%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) if false %>
    </div>
  </div>
</div>

