<%= simple_form_for([@company_forum, @company_doc]) do |f| %>
  <%= f.error_notification %>
  <%= f.hidden_field :uploader_id%>
  <div class="form-inputs">
  	<%= f.file_field :company_document %>
  	<%=  f.error :company_document %>
  </div>
    <%= f.button :submit, :class => "btn btn-primary btn-large" %>
<% end %>
