<div class='row'>
    <div class='col-md-12'>
        <%= simple_form_for(:conversation, url: :conversations, :defaults => { :wrapper_html => {:class => 'form-group'}, :input_html => { :class => 'form-control' } }) do |f| %>
        <form role="form">
            
            <div class="smallMenuItems">
                <%= f.submit "Reply", class: 'btn btn-success pull-right btn_reply' %>
            </div>

            <% if recipient.present? %>
                <%= f.hidden_field :recipient, :value => recipient.email %>
            <% end %>
            <div class="form-group">
                <%= f.hidden_field :subject, value: title %>
            </div>
            <div class="form-group">
                <%= f.text_area :body, :rows => 3, :class => "form-control", placeholder: "MESSAGE CONTENT" %>
            </div>
        </form>
        <% end %>
    </div>
</div>