<h4><strong>Direct Message</strong></h4>
<br>
<% show_cancel = show_cancel.nil? ? true : false %>
<%= simple_form_for(:conversation, url: :conversations, :defaults => { :wrapper_html => {:class => 'form-group'}, :input_html => { :class => 'form-control' } }) do |f| %>
<form role="form">
    <div class="form-group">
        <%= f.label :recipient %>
        <%= text_field_tag :to_user, nil, :class => "form-control", placeholder: "TOPIC", :value => "#{request.subdomain}", :readonly => true %>
    </div>

    <div class="form-group">
        <%= f.hidden_field :subject, :class => "form-control", placeholder: "TOPIC", :value => "Direct Message" %>
    </div>
    <div class="form-group">
        <%= text_area :body_message, nil, :rows => 7, :class => "form-control", placeholder: "POST MESSAGE" %>
    </div>
    <div class="smallMenuItems">
        <%= f.submit "SEND MESSAGE", class: 'btn btn-success' %>
        <% if show_cancel %>
            <%= link_to 'CANCEL', :back, class: 'btn btn-warning' %>
        <% end %>
    </div>
</form>
<% end %>