<div id="primary" class="col-sm-12">
	<div class="content">
		<section class="post" >
			<% other_user = ((Citizen.where(id: conversation.messages.collect(&:sender_id)).to_a) - [current_user]).first %>
			<% conversation.messages.reverse.each do |message| %>
				<header class="entry-header">
					<% user = Citizen.find(message.sender_id) %>
					<% url = user.avatar.blank? ? "img/profile-placeholder.png" : user.avatar.url %>
					<%= image_tag url , :height => "52", :width => "52", class: "entry-avatar" %>
					<h2 class="entry-title"><a href="#"><%= message.subject %></a></h2>
					<p class="entry-meta">
					Sent on <a class="entry-date" href="#"><%= message.created_at.strftime("%B %d, %Y")%></a> | From <a class="entry-author" href="#"><%= user.subdomain %></a> | Tags 
					<% ['tag1', 'tag2'].each do |tag| %>
						<a class="label label-danger" href="#"><%= tag %></a>
					<% end %>
					</p>
		      </header>
		      <div class="entry-description comment more"><%= message.body %></div>
		      <hr>
			<% end %>
			<%= render 'inbox_reply_form', commentor: current_user, recipient: other_user, conversation: conversation, title: "Re : "+conversation.subject %>
		</section>
	</div>
</div>