<div class="container margin-top margin-bottom">
  <h2><strong>First name: </strong><%= @user.first_name %></h2>
  <h2><strong>Last name: </strong><%= @user.last_name %></h2>
  <h2><strong>Email name: </strong><%= @user.email %></h2>
  <h2><strong>Username: </strong><%= @user.username %></h2>
  <h3><strong>subdomain name: </strong><%= @user.subdomain %></h3>
  
  <%= link_to 'Back', :back, :class => "btn btn-warning" %>
</div>