<%= simple_form_for([@company_forum]) do |f| %>
<%= f.error_notification %>
<div class="form-inputs">
    <%= f.input :super_admin_id, :as => :hidden, :value => current_super_admin.id %>
    <%= f.input :title %>
</div>
<%= f.button :submit, :class => "btn btn-primary" %>
<% end %>
