<%= simple_form_for([@location, @manager], :defaults => { :wrapper_html => {:class => 'form-group'}, :input_html => { :class => 'form-control' } }) do |f| %>
<%= f.error_notification %>
<form role="form">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%#= f.input :location_id, :as => :hidden, :value => @location.id %>
    <%= f.input :title %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.button :submit, :class => "btn btn-success btn-large" %>
</form>
<% end %>
