<p id="notice"><%= notice %></p>

<p>
  <b>Business:</b>
  <%= @manager.business_id %>
</p>

<p>
  <b>Name:</b>
  <%= @manager.name %>
</p>

<p>
  <b>Password:</b>
  <%= @manager.password %>
</p>

<p>
  <b>Password confirmation:</b>
  <%= @manager.password_confirmation %>
</p>

<p>
  <b>Email:</b>
  <%= @manager.email %>
</p>


<%= link_to 'Edit', edit_business_manager_path(@business, @manager) %> |
<%= link_to 'Back', business_managers_path(@business, @manager) %>
<%= link_to 'New Employee', new_business_manager_employee_path(@business, @manager) %>
