<div class="container margin-top margin-bottom">

<h2><%= @manager.title %></h2>
<h2><%= @manager.name %></h2>
<h3><%= @manager.email %></h3>

  <%= link_to 'Edit', edit_location_manager_path(@location,@manager), :class => "btn btn-danger" %> |
  <%= link_to 'Back', :back, :class => "btn btn-warning" %>
</div>