<div class="container">

<%= @manager.id %>
<%= @manager.first_name %>
<%= @manager.last_name %>
<%= @manager.email %>
<%= @manager.title %>



<%= link_to 'Edit', edit_business_manager_path(@manager) %> |
<%= link_to 'Back', :back %>
</div>