<div class="modal hide" id="add-question-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Add Question</h3>
  </div>
  <%= form_for Question.new, as: :question, url: '/questions' do |f| %>
    <div class="modal-body">
      <% if msg = flash_notice %>
        <div class="alert alert-error alert-block">
          <div class="alert-icon error-icon"></div>
          <div class="close" data-dismiss="alert">&times;</div>
          <%= msg.first.to_s.strip %>
        </div>
      <% end %>
      <fieldset>
        <%= text :topic,       form: f, label: 'Primary Topic', placeholder: 'What type of app',       tabindex: 1 %>
        <%= text :text,        form: f, label: 'Question',      placeholder: 'What would like to ask', tabindex: 2 %>
        <%= text :description, form: f, label: 'Description',   placeholder: 'Add more details...',    tabindex: 3 %>
        <%= empty_label 'Share' %>
        <% %w[facebook twitter linkedin].each do |app| %>
          <%= checkbox "share_on_#{app}", label: %Q{<img src="/assets/#{app}-16.png">} %>
        <% end %>
      </fieldset>
    </div>
    <div class="modal-footer">
      <fieldset>
        <%= checkbox 'post_annonymously', value: false %>
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <%= f.submit "Post Question", id: 'add-question-button', class: 'btn btn-primary' %>
      </fieldset>
    </div>
  <% end %>
  </div>


