<div class="modal hide" id="add-answer-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Add Answer</h3>
    <p><%= question.text %></p>
  </div>
  <%= form_for Answer.new, as: :answer, url: '/answers' do |f| %>
    <div class="modal-body">
      <% if msg = flash_notice %>
        <div class="alert alert-error alert-block">
          <div class="alert-icon error-icon"></div>
          <div class="close" data-dismiss="alert">&times;</div>
          <%= msg.first.to_s.strip %>
        </div>
      <% end %>
      <fieldset>
        <%= f.hidden_field :question_id, value: question.id %>
        <%= text :text,        form: f, label: 'Answer', placeholder: 'Enter you answer', tabindex: 1 %>
        <%= empty_label 'Share' %>
        <% %w[facebook twitter linkedin].each do |app| %>
          <%= checkbox "share_on_#{app}", label: %Q{<img src="/assets/#{app}-16.png">} %>
        <% end %>
      </fieldset>
    </div>
    <div class="modal-footer">
      <fieldset>
        <%= checkbox 'post_annonymously', value: false %>
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <%= f.submit "Post Answer", id: 'add-answer-button', class: 'btn btn-primary' %>
      </fieldset>
    </div>
  <% end %>
  </div>



