<!--
    <div id="secondary" class="col-sm-3 sidebar" style="display: none;">
      <aside>

        <div class="about" style="margin-bottom:-15px;">
          <% title = !@user.title_tagline.blank? ? @user.title_tagline : "About Us" %>
          <% tagline = "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus." %>
          <% tagline = !@user.tagline.blank? ? @user.tagline : tagline %>
          <h4 class="click" data-id="<%= @user.id %>" data-domain ="<%= @user.subdomain %>"><%= title.capitalize %></h4>
          <p style="font-size:12px;margin-top: 8px;" class="editable_textile comment more_about"><%= tagline %></p>
        </div>

        <div class="tags">
          <h4>Tags</h4>
          <ul>
            <li>
              <a href="tag.html" class="label label-danger">CSS3</a>
            </li>
            <li>
              <a href="tag.html" class="label label-primary">HTML5</a>
            </li>
          </ul>
        </div>

        <div class="socialmedia">
          <h4 style="margin-bottom:-20px;margin-top:-10px;">Share</h4>
          <div class="socials-sidebar">
            <a class="btn btn-facebook" href="#" title="Facebook">
              <i class="fa fa-facebook"></i>
            </a>
            <a class="btn btn-twitter" href="#" title="Twitter">
              <i class="fa fa-twitter"></i>
            </a>
            <a class="btn btn-linkedin" href="#" title="LinkedIn">
              <i class="fa fa-linkedin"></i>
            </a>
            <a class="btn btn-flickr" href="#" title="Flickr">
              <i class="fa fa-flickr"></i>
            </a>
            <a class="btn btn-pinterest" href="#" title="Pinterest">
              <i class="fa fa-pinterest"></i>
            </a>
            <a class="btn btn-tumblr" href="#" title="Tumblr">
              <i class="fa fa-tumblr"></i>
            </a>
            <a class="btn btn-dropbox" href="#" title="Dropbox">
              <i class="fa fa-dropbox"></i>
            </a>
            <a class="btn btn-google-plus" href="#" title="Google+">
              <i class="fa fa-google-plus"></i>
            </a>
            <a class="btn btn-instagram" href="#" title="Instagram">
              <i class="fa fa-instagram"></i>
            </a>
            <a class="btn btn-github" href="#" title="GitHub">
              <i class="fa fa-github"></i>
            </a>
            <a class="btn btn-bitbucket" href="#" title="Bitbucket">
              <i class="fa fa-bitbucket"></i>
            </a>
            <a class="btn btn-vk" href="#" title="VK">
              <i class="fa fa-vk"></i>
            </a>
          </div>
            <% if current_user == @user %>
              <%= form_tag(post_save_path, :method => :POST, :id => "form-post") do -%>
                <input type="text" placeholder="TOPIC" class="form-control" name="post[title]" id="topic">
                <br>
                <textarea placeholder="POST CONTENT" class="form-control" name="post[body]" id="content-post" rows="7"></textarea>
                <br>
                <p>
                  <input type="text" placeholder="Tag1,Tag2,Tag3..." class="form-control pull-left" style="max-width: 58%;" name="post[tag_list]" id="tag">
                  <%#= link_to 'POST TO HQ', "#", :onclick => "checkFormVal();",:class => "btn btn-success pull-right" %>
                  <input type="submit" onclick="checkFormVal();" class="btn btn-success pull-right" value="POST TO HQ">
                </p>
              <% end -%>
              <br>
            <% elsif current_user.nil? %>
              <%= link_to "Login", login_path, class: 'btn btn-primary' %>
              <%= link_to "Register", register_path, class: 'btn btn-danger' %>
            <% else %>
              <%= render 'conversations/form', show_cancel: false %>
            <% end %>
        </div>

      </aside>
    </div>
-->
  <div class="row">
    <div id="primary" class="col-sm-12">
      <div class="content">    
        <header class="header">
          <hgroup>
            <h1 class="site-title text-center">
              <a rel="home" title="<%= "#{@user.subdomain.capitalize}" %>" href="/">
                <strong style="color: #235A9F;"><%= "#{@user.subdomain.capitalize}" rescue "Bussines" %></strong>
              </a>
            </h1>
            <% if current_user == @user %>
              <div id='create-new-post-btn' class="btn btn-primary pull-right">
                <i class="fa fa-pencil-square-o"></i>
              </div>
            <% end %>
          </hgroup>

        </header> <!-- /header -->
        <% if current_user == @user %>
          <section class='new-post post' style="display:none">
            <div class="form-post-content">
              <%= form_for Blogit::Post.new, url: post_save_path do |f| %>
                <div class="form-group">
                  <%= f.label :title, "Topic" %>
                  <%= f.text_field :title, class: "form-control", :required => true %>
                </div>
                <div class="form-group">
                  <%= f.label :title, "Tags" %>
                  <%= f.text_field :tag_list, class: "form-control", :required => true %>
                </div>
                <div class="form-group">
                  <%= f.label :title, "Post Content" %>
                  <%= f.text_area :body, class: "form-control", rows: "5", :required => true %>
                </div>
                <%= f.submit "Create Post", class: "btn btn-success" %>
                <button type="reset" class="btn btn-warning post-cancel" id="cancel-post">Cancel</button>
              <% end %>
            </div>
          </section>
        <% end %>
        <% if @posts.present? %>
          <% @posts.each_with_index do |post, i| %>
            <section class="post" id="new-post">
              <!-- Single button -->
              <% if current_user == @user %>
                <div class="btn-group entry-button pull-right">
                  <a href="" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-chevron-down"></i>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#" class="post-reply" data-id="<%= post.id %>">Reply</a></li>
                    <li class="divider"></li>
                    <li><a href="#" class="post-edit" data-id="<%= post.id %>">Edit</a></li>
                    <li class="divider"></li>
                    <li><%= link_to "Delete", delete_post_path(post.id), method: :delete, data: { confirm: 'Are you sure?' } %></li>
                  </ul>
                </div>
              <% end %>
              <div class="post-content" data-id="<%= post.id %>">
                <header class="entry-header">
                  <% url = @user.avatar.blank? ? "img/profile-placeholder.png" : @user.avatar.url %>
                  <%= image_tag url , :height => "52", :width => "52", class: "entry-avatar" %>
                  <h2 class="entry-title">
                    <a href="#" id="title-post-<%= i %>" data-id = "<%= post.id %>"><%= post.title %></a>
                  </h2>
                  <p class="entry-meta">
                    Posted on <a class="entry-date" href="#"><%= post.created_at.strftime("%B %d, %Y")%></a> | By <a class="entry-author" href="#"><%= post.blogger.subdomain%></a> | Tags 
                    <% post.dollar_tags.each do |tag| %>
                      <a class="label label-success" href="#"><%= tag.name %></a>
                    <% end %>
                    <% post.non_dollar_tags.each do |tag| %>
                      <a class="label label-danger" href="#"><%= tag.name %></a>
                    <% end %>
                  </p>
                </header>
                <div class="entry-description comment more"><%= post.body%></div>
               <!--  <%# if post.comments.any? %>
                  <%#= link_to "Comment(#{post.comments.count})", "#", :class => "comment-post" %>
                  <%# post.comments.reverse.each do |comment| %>
                    <div class="post-content post-comment" data-id="<%= post.id %>" hidden="true">
                      <p class="entry-meta comment-list">
                        <div class="entry-description comment more" ><%#= comment.body %></div>
                        Posted on <a class="entry-date" href="#"><%#= comment.created_at.strftime("%B %d, %Y")%></a> | By <a class="entry-author" href="#"><%#= comment.name %></a>
                      </p>
                    </div>
                  <%# end %>
                <%# end %> -->
                <div class="reply" data-id="<%= post.id %>" hidden="true">
                  <% if current_user %>
                  <%= form_for post, url: reply_comment_path(post.id), method: :post do |f| %>
                    <%= f.submit "Replay", class: "btn btn-success pull-right btn_reply" %>
                    <br /><br />
                    <div class="form-group">
                      <%= text_area_tag :reply, nil, class: "form-control", rows: "5", :placeholder => "MESSAGE CONTENT" %>
                    </div>
                  <% end %>
                  <% end %>
                </div>
              </div>
              <div class="form-post-content" data-id="<%= post.id %>" hidden="true">
                <%= form_for post, url: company_edit_post_path(post.id, @user.id, @user.class) do |f| %>
                  <div class="form-group">
                    <%= f.label :title, "Topic" %>
                    <%= f.text_field :title, class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <%= f.label :title, "Tags" %>
                    <%= f.text_field :tag_list, class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <%= f.label :title, "Post Content" %>
                    <%= f.text_area :body, class: "form-control", rows: "5" %>
                  </div>
                  <%= f.submit "Change Post", class: "btn btn-success" %>
                  <button type="button" class="btn btn-warning post-cancel" data-id="<%= post.id %>">Cancel</button>
                <% end %>
              </div>
              <% if @user != current_user && !current_user.blank? %>
                <%= render 'conversations/comment_conversation_form', title: post.title, commentor: current_user, recipient: @user %>
              <% end %>
            </section> <!-- /.post -->
          <% end %>
          <%= paginate @posts %> 
        <% else %>
          <%= render partial: "blogit/posts/empty" %>
        <% end %>
      </div>
  

    
        <footer class="footer">
          <p>© SkyHQ 2014. All right reserved.</p>
          <div class="socials-footer">
            <% [:facebook, :twitter, :linkedin, :flickr, :pinterest, :tumblr, :dropbox, :google_plus, :instagram, :github, :bitbucket, :vk].each do |s| %>
              <% if @user.send(s).present? %>
                <% class_name = s.to_s.gsub('_','-') %>
                <a class="btn btn-<%= class_name %>" href="<%= @user.send(s) %>" title="<%= s.to_s.titleize %>">
                  <i class="fa fa-<%= class_name %>"></i>
                </a>
              <% end %>
            <% end %>
          </div> <!-- /.socials-footer -->
        </footer> <!-- /footer -->
        
    </div> <!-- /#primary -->
    </div>

  <%#= javascript_include_tag "blog/jquery-1.11.0.min" %>
  <%#= javascript_include_tag "blog/custom" %>
  <%#= javascript_include_tag "bootstrap" %>
  <%#= stylesheet_link_tag "blog/main" %>

 <script type="text/javascript">
 <% if current_user.present? %>
    $(document).ready(function() {
        var get_id = $(".click").data("id");
        $(".click").editable("<%= company_tagline_path(:id => current_user.id, :subdomain => current_user.subdomain) %>.js", { 
        indicator : "<img src='/assets/assets/loader.gif'>",
        tooltip   : "Click to edit...",
        id        : 'save_tagline',
        style     : "inherit",
    });
        $(".editable_textile").editable("<%= company_tagline_path(:id => current_user.id, :subdomain => current_user.subdomain) %>", { 
        indicator : "<img src='/assets/assets/loader.gif'>",
        type      : "textarea",
        id        : 'save_tagline',
        name      : "tagline",
        submit    : "OK",
        cancel    : "Cancel",
        tooltip   : "Click to edit..."
    });

        for ( var i = 0; i < <%= @posts.count %>; i++ ) {
          $("#post-form-" + i).hide();
          $("button.post-edit-"+i).click(function(){
            $("#post-" + i).hide();
            $("#post-form-" + i).show();
          });
          $("button.post-edit-0").click(function(){
            $("#post-" + i).hide();
            $("#post-form-" + i).show();
          });
        }
        
        $( ".post-edit").click(function() {
          var id =$(this).data("id");
          $(".post-content[data-id='"+id+"']").hide("slow");
          $(".form-post-content[data-id='"+id+"']").show("slow");
        });

        $( ".post-reply").click(function(e) {
          var id =$(this).data("id");
          $(".reply[data-id='"+id+"']").toggle();
          e.preventDefault();
        });

        $(".post-cancel").click(function() {
          var id =$(this).data("id");
          $(".post-content[data-id='"+id+"']").show("slow");
          $(".form-post-content[data-id='"+id+"']").hide("slow");
        });

        var side_height = $("aside#left-panel").height();
        document.getElementById("main").style.minHeight = side_height+"px";

        var max_post_content = $('div.post-content').width();
        $('div.entry-description').css('max-width',max_post_content + "px");
   });
  <% end %>
  
   function checkFormVal(){
     var topic = $("#topic").val();
     var content = $("#content-post").val();

     if(topic != "" && content != ""){
       if(topic.length < 10 && content.length < 10){
         alert("Topic and Content are too short (minimum is 10 characters)..."); 
       }
       else if(topic.length < 10){
         alert("Topic is too short (minimum is 10 characters)..."); 
       }
       else if(content.length < 10) {
         alert("Content is too short (minimum is 10 characters)..."); 
       }
       else { $("#form-post").submit(); }
     }
     else if(topic=="" && content==""){
       alert("Topic and Content can not be blank...");
     }
     else if(topic==""){
       alert("Topic can not be blank...");
     }
     else{
       alert("Content can not be blank...");
     }
   };

  $(document).ready(function() {
    var showChar = 355;
    var showChar2 = 200;
    var ellipsestext = "...";
    var moretext = "More";
    var lesstext = "Less";
    var max_post_content = $('div.post-content').width();
    $('.more').each(function() {
        var content = $(this).html();
          if(showChar < content.length) {
            if(hasWhiteSpace(content)){
              var c = content.substr(0, showChar2);
            }else{
              content = $.trim(content);
              var c = content.substr(0, showChar2/2);
            }

            var h = content.substr(showChar, content.length - showChar);
 
            var html = c + '<span class="moreellipses">' + ellipsestext+ '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';
 
            $(this).html(html);
        }
    });
   $('.more_about').each(function() {
        var content = $(this).html();
        if(showChar2 < content.length) {
            var c = content.substr(0, showChar2);
            var h = content.substr(showChar2-1, content.length - showChar2);
 
            var html = c + '<span class="moreellipses">' + ellipsestext+ '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';
 
            $(this).html(html);
        }
    });
    $(".morelink").click(function(){
        if($(this).hasClass("less")) {
            $(this).removeClass("less");
            $(this).html(moretext);
        } else {
            $(this).addClass("less");
            $(this).html(lesstext);
        }
        $(this).parent().prev().toggle();
        $(this).prev().toggle();
        return false;
    });

    $("#cancel-post").click(function(){
      $('#create-new-post-btn').click();
    });

    function hasWhiteSpace(s) {
      return /\s/g.test(s);
    }

    $('.comment-post').each(function(){
      $(this).click(function(e){
        $(this).parent('.post-content').find('.post-comment').attr('data-id',$(this).attr('data-id')).toggle();
        $(this).parent('.post-content').find('.reply').attr('data-id',$(this).attr('data-id')).toggle();
        e.preventDefault();
      });
    });
});
 </script>