<div class="row">

  <div id="primary" class="col-sm-12">
    <div class="content">    
      <header class="header">
        <hgroup>
          <h1 class="site-title text-center">
            <center style="position: absolute; margin-top: 10px;">
              <a rel="home" title="<%= "#{@user.subdomain.capitalize}" %>" href="/">
                <strong style="color: #235A9F;"><%= "#{@user.subdomain.capitalize}" rescue "Bussines" %></strong>
              </a>
            </center>
          </h1>
          <% if current_user == @user %>
            <div id='create-new-post-btn' class="btn btn-primary pull-right" style="margin-top: 3px;">
              <i class="fa fa-pencil-square-o"></i>
            </div>
          <% elsif current_user %>
            <div id='create-new-post-btn' class="btn btn-primary pull-right" style="margin-top: 3px;">
              <i class="fa fa-pencil-square-o"></i>
            </div>
          <% end %>
        </hgroup>
      </header> 

       <% if current_user == @user %>
        <section class='new-post post' style="display:none">
          <div class="form-post-content">
            <%= form_for Blogit::Post.new, url: post_save_path do |f| %>
              <div class="form-group">
                <%= f.label :title, "Topic" %>
                <%= f.text_field :title, class: "form-control", :required => true %>
              </div>
              <div class="form-group">
                <%= f.label :title, "Tags" %>
                <%= f.text_field :tag_list, class: "form-control", :required => true %>
              </div>
              <div class="form-group">
                <%= f.label :title, "Post Content" %>
                <%= f.text_area :body, class: "form-control", rows: "5", :required => true %>
              </div>
              <div class="form-group">
                  <%= f.check_box :post_type %>Is Sticky Post
                </div>
              <%= f.submit "Create Post", class: "btn btn-success", :id => "button-new-post" %>
              <button type="reset" class="btn btn-warning post-cancel" id="cancel-post">Cancel</button>
            <% end %>
          </div>
        </section>
        <% else %>
        <section class='new-post post' style="display:none">
          <div class="form-post-content">
            <%= render 'conversations/new_direct_message' %>
          </div>
        </section>
      <% end %>

      <p class="text-muted">
        <%= render 'company_profiles/sticky_posts_lists', sticky_posts: @sticky_posts %>
      </p>

      <% if @posts.present? %>
        <%= render "company_profiles/posts_blog_lists", posts: @posts, user: @user %>
      <% else %>
        <%= render partial: "blogit/posts/empty" %>
      <% end %>
    </div>
    <div class="content">
      <div class="post-content">
        <div class="row">
          <div class="col-sm-12"></div>
          <div class="col-sm-1"></div>
          <div class="col-sm-10">
            <%= paginate @posts %>
          </div>
          <div class="col-sm-1"></div>
          <%# if @sticky_posts.any? %>
<!--             <br />
            <div class="pull-left">
              <i id="back-top" class="fa fa-arrow-circle-up"> <a href="#">Go To Sticky</a></i>
            </div>
            <br /> -->
          <%# end %>
        </div>
      </div>
    </div>
      <footer class="footer">
        <p>© SkyHQ 2014. All right reserved.</p>
        <div class="socials-footer">
          <% [:facebook, :twitter, :linkedin, :flickr, :pinterest, :tumblr, :dropbox, :google_plus, :instagram, :github, :bitbucket, :vk].each do |s| %>
            <% if @user.send(s).present? %>
              <% class_name = s.to_s.gsub('_','-') %>
              <a class="btn btn-<%= class_name %>" href="<%= @user.send(s) %>" title="<%= s.to_s.titleize %>">
                <i class="fa fa-<%= class_name %>"></i>
              </a>
            <% end %>
          <% end %>
        </div> <!-- /.socials-footer -->
      </footer> <!-- /footer -->


  </div>
      
      
  </div> <!-- /#primary -->
</div>

  <%#= javascript_include_tag "blog/jquery-1.11.0.min" %>
  <%#= javascript_include_tag "blog/custom" %>
  <%#= javascript_include_tag "bootstrap" %>
  <%#= stylesheet_link_tag "blog/main" %>

<script type="text/javascript">
  <% if current_user.present? %>
    $(document).ready(function() {
      var get_id = $(".click").data("id");
        $(".click").editable("<%= company_tagline_path(:id => current_user.id, :subdomain => current_user.subdomain) %>.js", { 
        indicator : "<img src='/assets/assets/loader.gif'>",
        tooltip   : "Click to edit...",
        id        : 'save_tagline',
        style     : "inherit",
      });
      $(".editable_textile").editable("<%= company_tagline_path(:id => current_user.id, :subdomain => current_user.subdomain) %>", { 
        indicator : "<img src='/assets/assets/loader.gif'>",
        type      : "textarea",
        id        : 'save_tagline',
        name      : "tagline",
        submit    : "OK",
        cancel    : "Cancel",
        tooltip   : "Click to edit..."
      });

      for ( var i = 0; i < <%= @posts.count %>; i++ ) {
        $("#post-form-" + i).hide();
        $("button.post-edit-"+i).click(function(){
          $("#post-" + i).hide();
          $("#post-form-" + i).show();
        });
        $("button.post-edit-0").click(function(){
          $("#post-" + i).hide();
          $("#post-form-" + i).show();
        });
      }
        
      $( ".post-edit").click(function(e) {
        var id = $(this).data("id");
        $(".post-content[data-id='"+id+"']").hide("slow");
        $(".form-post-content[data-id='"+id+"']").show("slow");
        document.getElementById("title_post_"+id).focus();
        e.preventDefault();
      });

      $( ".sticky-edit").click(function(e) {
        var id =$(this).data("id");
        $(".sticky-content[data-id='"+id+"']").hide("slow");
        $(".form-sticky-content[data-id='"+id+"']").show("slow");
        document.getElementById("title_post_"+id).focus();
        e.preventDefault();
      });

      $( ".post-reply").click(function(e) {
        var id =$(this).data("id");
        $(".reply[data-id='"+id+"']").toggle();
        e.preventDefault();
      });

      $(".post-cancel").click(function() {
        var id =$(this).data("id");
        $(".post-content[data-id='"+id+"']").show("slow");
        $(".form-post-content[data-id='"+id+"']").hide("slow");
      });

      $(".sticky-cancel").click(function() {
        var id =$(this).data("id");
        $(".sticky-content[data-id='"+id+"']").show("slow");
        $(".form-sticky-content[data-id='"+id+"']").hide("slow");
      });

      var side_height = $("aside#left-panel").height();
      document.getElementById("main").style.minHeight = side_height+"px";

      var max_post_content = $('div.post-content').width();
      $('div.entry-description').css('max-width',max_post_content + "px");
    });
  <% end %>
  
  function checkFormVal(){
    var topic = $("#topic").val();
    var content = $("#content-post").val();

    if(topic != "" && content != ""){
     if(topic.length < 10 && content.length < 10){
      alert("Topic and Content are too short (minimum is 10 characters)..."); 
     }
     else if(topic.length < 10){
      alert("Topic is too short (minimum is 10 characters)..."); 
     }
     else if(content.length < 10) {
      alert("Content is too short (minimum is 10 characters)..."); 
     }
     else { $("#form-post").submit(); }
    }
    else if(topic=="" && content==""){
      alert("Topic and Content can not be blank...");
    }
    else if(topic==""){
      alert("Topic can not be blank...");
    }
    else{
      alert("Content can not be blank...");
    }
    return true;
  };

  $(document).ready(function() {
    var showChar = 355;
    var showChar2 = 200;
    var ellipsestext = "...";
    var moretext = "More";
    var lesstext = "Less";
    var max_post_content = $('div.post-content').width();
    $('.more').each(function() {
      var content = $(this).html();
      if(showChar < content.length) {
        if(hasWhiteSpace(content)){
          var c = content.substr(0, showChar2);
        }else{
          content = $.trim(content);
          var c = content.substr(0, showChar2/2);
        }

        var h = content.substr(showChar, content.length - showChar);

        var html = c + '<span class="moreellipses">' + ellipsestext+ '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="#more-less" class="morelink" id="less-page">' + moretext + '</a></span>';

        $(this).html(html);
      }
    });
    $('.more_about').each(function() {
      var content = $(this).html();
      if(showChar2 < content.length) {
        var c = content.substr(0, showChar2);
        var h = content.substr(showChar2-1, content.length - showChar2);

        var html = c + '<span class="moreellipses">' + ellipsestext+ '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="#" class="morelink">' + moretext + '</a></span>';

        $(this).html(html);
      }
    });
    $(".morelink").click(function(e){
      if($(this).hasClass("less")) {
        $(this).removeClass("less");
        $(this).html(moretext);
        e.preventDefault();
      } else {
        $(this).addClass("less");
        $(this).html(lesstext);
        e.preventDefault();
      }
      document.getElementById("main").style.Height = "auto";
      $(this).parent().prev().toggle();
      $(this).prev().toggle();
      return false;
      e.preventDefault();
    });

    $("#cancel-post").click(function(){
      $('#create-new-post-btn').click();
    });

    function hasWhiteSpace(s) {
      return /\s/g.test(s);
    }

    $('.comment-post').each(function(){
      $(this).click(function(e){
        $(this).parent('.post-content').find('.post-comment').attr('data-id',$(this).attr('data-id')).toggle();
        $(this).parent('.post-content').find('.reply').attr('data-id',$(this).attr('data-id')).toggle();
        e.preventDefault();
      });
    });

    $('ul.compose_message').show();

    $('.less').each(function(){
      $(this).click(function(){
        var side_height = $("aside#left-panel").height();
        document.getElementById("main").style.minHeight = side_height+"px";
        $content = $(this).closest('div.entry-description').prev();
        // $(this).closest('div.entry-description').focus();
        $content.focus();
        // e.preventDefault();
      });
    });

    $('#post_post_type').on("click", function(){
      if($("input:checked")){
        this.value = "Sticky";
      }else{
        this.value = null;
      }
    });

    // $('#goto-sticky').click(function(e){
    //   $('html, body').animate({scrollTop:$(document).height()}, 'slow');
    //   e.preventDefault();
    //   return false
    // });

    // $('#back-top').click(function(){
    //   $('html, body').animate({scrollTop:0}, 'slow');
    //   return false;
    // });

    $('#button-new-post').click(function(e){1
      var topic = $("#post_title").val();
      var body = $('#post_body').val();
      if(topic.length < 10 || body.length < 10){
        alert("Topic or Content are too short (minimum is 10 characters)...");
        e.stopPropagation();
        return false;
      }else{return true}
    });

  });
</script>