<% posts.each_with_index do |post, i| %>
  <section class="post" id="new-post-<%= post.id %>">
    <!-- Single button -->
    <% if current_user == user %>
      <div class="btn-group entry-button pull-right">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-chevron-down"></i>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#" class="post-reply" data-id="<%= post.id %>">Reply</a></li>
          <li class="divider"></li>
          <li><a href="#" class="post-edit" data-id="<%= post.id %>">Edit</a></li>
          <li class="divider"></li>
          <li>
            <%= link_to "Delete", delete_post_path(post.id), method: :delete, data: { confirm: 'Are you sure?' } %>
          </li>
        </ul>
      </div>
    <% end %>

    <div class="post-content" data-id="<%= post.id %>">

      <header class="entry-header">
        <%= image_tag current_user_picture , :height => "52", :width => "52", class: "entry-avatar" %>

        <h2 class="entry-title">
          <a href="#" id="title-post-<%= i %>" data-id = "<%= post.id %>">
          	<h3 style="font-size: 24px;"><%= post.title %></h3>
          </a>
        </h2>

        <p class="entry-meta">
          Posted on <a class="entry-date" href="#"><%= post.created_at.strftime("%B %d, %Y")%></a> | By <a class="entry-author" href="#"><%= post.blogger.subdomain%></a> | Tags 
          <% post.dollar_tags.each do |tag| %>
            <a class="label label-success" href="#"><%= tag.name %></a>
          <% end %>
          <% post.non_dollar_tags.each do |tag| %>
            <a class="label label-danger" href="#"><%= tag.name %></a>
          <% end %>
        </p>
      </header>

      <div class="entry-description comment more"><%= post.body%></div>
      <%= link_to "Comment(#{post.comments.count})", "#", :class => "comment-post counter_#{post.id}" if post.comments.any? %>
      <div class="post-content new-comment_<%= post.id %> media" data-id="<%= post.id %>"></div>
      <% if post.comments.any? %>
        <% post.comments.each do |comment| %>
          <div class="post-content post-comment media" data-id="<%= post.id %>" hidden="true">
            <div class="media-body" style="margin-bottom: -21px;">
              <h4 class="entry-meta comment-list">
                <div class="entry-description comment more" ><%= comment.body %></div>
                Posted on <a class="entry-date" href="#"><%= "#{time_ago_in_words(comment.created_at.strftime("%B %d, %Y"))} ago"%></a> | By <a class="entry-author" href="#"><%= comment.name %></a>
              </h4>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="reply" data-id="<%= post.id %>">
        <% if current_user %>
          <%= form_for post, url: reply_comment_path(post.id), method: :post, remote: true do |f| %>
            <br />
            <div class="form-group">
              <%= text_field_tag :reply, nil, class: "form-control", :rows => 2, :placeholder => "MESSAGE CONTENT", :"data-id"=> post.id, :onkeypress=>"return readKeyPress(this, event);" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="form-post-content" data-id="<%= post.id %>" hidden="true">
      <%= form_for post, url: company_edit_post_path(post.id, user.id, user.class) do |f| %>
        <div class="form-group">
          <%= f.label :title, "Topic" %>
          <%= f.text_field :title, class: "form-control", :id => "title_post_#{post.id}" %>
        </div>
        <div class="form-group">
          <%= f.label :title, "Tags" %>
          <%= f.text_field :tag_list, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :title, "Post Content" %>
          <%= f.text_area :body, class: "form-control", rows: "5" %>
        </div>
        <div class="form-group">
          <%= f.check_box :post_type %> Is Sticky Post
        </div>
        <%= f.submit "Change Post", class: "btn btn-success" %>
        <button type="button" class="btn btn-warning post-cancel" data-id="<%= post.id %>">Cancel</button>
      <% end %>
    </div>
    <% if user != current_user && !current_user.blank? %>
      <%= render 'conversations/comment_conversation_form', post: post, title: post.title, commentor: current_user, recipient: user %>
    <% end %>
  </section> <!-- /.post -->
<% end %>