<div class="container">
    <div class="row">
        <!-- Begin Content -->
        <div class="col-md-9 text-center">
            <h2>
                <div>
                    Name: <%= @super_admin.name %>
                </div>
            </h2>
            <h2>Location: <%= @super_admin.location %>
                <br/>
                Phone Number: <%= @super_admin.phone_number %>
                <br/>
                Email: <%= @super_admin.email %>
            </h2>
            <h2>You've been a SkyHQ member for <%= time_ago_in_words(@super_admin.created_at) %>.</h2>
        </div>
        <div class="col-md-3">
            <div class="well sidebar-nav">
                <ul class="nav">
                    <li>
                        Navigation
                    </li>
                    <li>
                        <a href="#">Edit Profile</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End Sidebar -->
    </div>
</div>
