<!-- Our Clients -->
<div id="clients-flexslider" class="flexslider home clients">
    <div class="headline"><h2>Our Clients</h2></div>    
    <ul class="slides">
        <li>
            <a href="#">
                <%= image_tag 'img/clients/hp_grey.png' %>
                <%= image_tag 'img/clients/hp.png', class: 'color-img' %>
            </a>
        </li>
        <li>
            <a href="#">
                <%= image_tag 'img/clients/igneus_grey.png' %>
                <%= image_tag 'img/clients/igneus.png', class: 'color-img' %>
            </a>
        </li>
        <li>
            <a href="#">
                <%= image_tag 'img/clients/vadafone_grey.png' %>
                <%= image_tag 'img/clients/vadafone.png', class: 'color-img' %>
            </a>
        </li>
        <li>
            <a href="#">
                <%= image_tag 'img/clients/walmart_grey.png' %>
                <%= image_tag 'img/clients/walmart.png', class: 'color-img' %>
            </a>
        </li>
        <li>
            <a href="#">
                <%= image_tag 'img/clients/shell_grey.png' %>
                <%= image_tag 'img/clients/shell.png', class: 'color-img' %>
            </a>
        </li>
        <li>
            <a href="#">
                <%= image_tag 'img/clients/natural_grey.png' %>
                <%= image_tag 'img/clients/natural.png', class: 'color-img' %>
            </a>
        </li>
        <li>
            <a href="#">
                <%= image_tag 'img/clients/aztec_grey.png' %>
                <%= image_tag 'img/clients/aztec.png', class: 'color-img' %>
            </a>
        </li>
        <li>
            <a href="#">
                <%= image_tag 'img/clients/gamescast_grey.png' %>
                <%= image_tag 'img/clients/gamescast.png', class: 'color-img' %>
            </a>
        </li>
        <li>
            <a href="#">
                <%= image_tag 'img/clients/cisco_grey.png' %>
                <%= image_tag 'img/clients/cisco.png', class: 'color-img' %>
            </a>
        </li>
        <li>
            <a href="#">
                <%= image_tag 'img/clients/everyday_grey.png' %>
                <%= image_tag 'img/clients/everyday.png', class: 'color-img' %>
            </a>
        </li>
        <li>
            <a href="#">
                <%= image_tag 'img/clients/cocacola_grey.png' %>
                <%= image_tag 'img/clients/cocacola.png', class: 'color-img' %>
            </a>
        </li>
        <li>
            <a href="#">
                <%= image_tag 'img/clients/spinworkx_grey.png' %>
                <%= image_tag 'img/clients/spinworkx.png', class: 'color-img' %>
            </a>
        </li>
        <li>
            <a href="#">
                <%= image_tag 'img/clients/shell_grey.png' %>
                <%= image_tag 'img/clients/shell.png', class: 'color-img' %>
            </a>
        </li>
        <li>
            <a href="#">
                <%= image_tag 'img/clients/natural_grey.png' %>
                <%= image_tag 'img/clients/natural.png', class: 'color-img' %>
            </a>
        </li>
        <li>
            <a href="#">
                <%= image_tag 'img/clients/gamescast_grey.png' %>
                <%= image_tag 'img/clients/gamescast.png', class: 'color-img' %>
            </a>
        </li>
        <li>
            <a href="#">
                <%= image_tag 'img/clients/everyday_grey.png' %>
                <%= image_tag 'img/clients/everyday.png', class: 'color-img' %>
            </a>
        </li>
        <li>
            <a href="#">
                <%= image_tag 'img/clients/spinworkx_grey.png' %>
                <%= image_tag 'img/clients/spinworkx.png', class: 'color-img' %>
            </a>
        </li>
    </ul>
</div><!--/flexslider-->
<!-- //End Our Clients -->