<!--=== Slider ===-->
<div class="fullwidthbanner-container">
    <div class="fullwidthbanner">
        <ul>
            <!-- THE SECOND SLIDE -->
            <li data-transition="3dcurtain-vertical" data-slotamount="10" data-masterspeed="300" data-thumb="<%= asset_path 'img/sliders/revolution/thumbs/thumb1.jpg' %>">
                <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                <%= image_tag 'img/sliders/revolution/bg1.jpg' %>

                <div class="caption large_text sfb bg-black-opacity"
                     data-x="176"
                     data-y="12"
                     data-speed="300"
                     data-start="800"
                     data-easing="easeOutExpo">
                     AT LEAST
                     <span style="color: #ffcc00;">3</span> 
                     SATISFIED USERS
                </div>

                <div class="caption randomrotate"
                     data-x="189"
                     data-y="76"
                     data-speed="600"
                     data-start="1100"
                     data-easing="easeOutExpo">
                     <%= image_tag 'img/sliders/revolution/p1.jpg', class: 'img-border' %>
                </div>

                <div class="caption randomrotate"
                     data-x="0"
                     data-y="92"
                     data-speed="600"
                     data-start="1200"
                     data-easing="easeOutExpo">
                     <%= image_tag 'img/sliders/revolution/p2.jpg', class: 'img-border' %>
                </div>

                <div class="caption randomrotate"
                     data-x="200"
                     data-y="209"
                     data-speed="600"
                     data-start="1300"
                     data-easing="easeOutExpo">
                     <%= image_tag 'img/sliders/revolution/p6.jpg', class: 'img-border' %>
                </div>

                <div class="caption randomrotate"
                     data-x="97"
                     data-y="117"
                     data-speed="300"
                     data-start="1400"
                     data-easing="easeOutExpo">
                     <%= image_tag 'img/sliders/revolution/p4.jpg', class: 'img-border' %>
                </div>

                <div class="caption randomrotate"
                     data-x="14"
                     data-y="222"
                     data-speed="600"
                     data-start="1500"
                     data-easing="easeOutExpo">
                     <%= image_tag 'img/sliders/revolution/p5.jpg', class: 'img-border' %>
                </div>

                <div class="caption randomrotate"
                     data-x="638"
                     data-y="201"
                     data-speed="300"
                     data-start="1600"
                     data-easing="easeOutExpo">
                     <%= image_tag 'img/sliders/revolution/p3.jpg', class: 'img-border' %>
                </div>

                <div class="caption randomrotate"
                     data-x="717"
                     data-y="294"
                     data-speed="300"
                     data-start="1700"
                     data-easing="easeOutExpo">
                     <%= image_tag 'img/sliders/revolution/p4.jpg', class: 'img-border' %>
                </div>

                <div class="caption randomrotate"
                     data-x="682"
                     data-y="79"
                     data-speed="300"
                     data-start="1800"
                     data-easing="easeOutExpo">
                     <%= image_tag 'img/sliders/revolution/p8.jpg', class: 'img-border' %>
                </div>

                <div class="caption randomrotate"
                     data-x="807"
                     data-y="71"
                     data-speed="300"
                     data-start="1900"
                     data-easing="easeOutExpo">
                     <%= image_tag 'img/sliders/revolution/p10.jpg', class: 'img-border' %>
                </div>

                <div class="caption randomrotate"
                     data-x="818"
                     data-y="271"
                     data-speed="300"
                     data-start="2000"
                     data-easing="easeOutExpo">
                     <%= image_tag 'img/sliders/revolution/p5.jpg', class: 'img-border' %>
                </div>

                <div class="caption randomrotate"
                     data-x="95"
                     data-y="248"
                     data-speed="300"
                     data-start="2100"
                     data-easing="easeOutExpo">
                     <%= image_tag 'img/sliders/revolution/p9.jpg', class: 'img-border' %>
                </div>

                <div class="caption randomrotate"
                     data-x="762"
                     data-y="165"
                     data-speed="300"
                     data-start="2200"
                     data-easing="easeOutExpo">
                     <%= image_tag 'img/sliders/revolution/p7.jpg', class: 'img-border' %>
                </div>
            </li>

            <!-- THE FOURTH SLIDE -->
            <li data-transition="flyin" data-slotamount="1" data-masterspeed="300" data-thumb="<%= asset_path 'img/sliders/revolution/thumbs/thumb4.jpg' %>">
                
                <!-- THE MAIN IMAGE IN THE FOURTH SLIDE -->                                
                <%= image_tag 'img/sliders/revolution/bg4.jpg' %>
                <div class="caption lfb boxshadow" 
                     data-x="20" 
                     data-y="120" 
                     data-speed="900" 
                     data-start="500" 
                     data-easing="easeOutBack">
                     <iframe src="http://player.vimeo.com/video/54035990?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
                </div>

                <div class="caption sft big_black"  
                     data-x="570" 
                     data-y="120" 
                     data-speed="300" 
                     data-start="1200" 
                     data-easing="easeOutExpo">
                     Explainer Video
                </div>
                
                <div class="caption sft big_white" 
                     data-x="570" 
                     data-y="162" 
                     data-speed="300" 
                     data-start="1300" 
                     data-easing="easeOutExpo">
                     HQ 101
                </div>
                
                <div class="caption lfb medium_grey"  
                     data-x="570" 
                     data-y="215" 
                     data-speed="300" 
                     data-start="1400" 
                     data-easing="easeOutExpo">
                     We'll add our
                </div>
                
                <div class="caption lfb medium_grey"  
                     data-x="570" 
                     data-y="240" 
                     data-speed="300" 
                     data-start="1500" 
                     data-easing="easeOutExpo">   
                     custom video here
                </div>
                
                <div class="caption lfb medium_grey" 
                     data-x="570" 
                     data-y="265" 
                     data-speed="300" 
                     data-start="1600" 
                     data-easing="easeOutExpo">
                     as soon as it's ready.
                </div>
            </li>
        </ul>

        <div class="tp-bannertimer tp-bottom"></div>
    </div>
</div>
<!--=== End Slider ===-->

<!--=== Purchase Block ===-->
<div class="purchase">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <span>A new place to call home: SkyHQ</span>
                <p>SkyHQ is coming soon and can be your very own headquarters in the cloud. The digital world is getting more complex every day. We're here to help you simplify and centralize your digital presence and get organized! Hopefully you'll have some fun along the way :)</p>
            </div>            
            <div class="col-md-3">
                <%= link_to "Sign Up Now", register_path, class: 'btn-buy hover-effect' %>
            </div>
        </div>
    </div>
</div><!--/row-->
<!-- End Purchase Block -->

<!--=== Content Part ===-->
<div class="one-page">
    <div class="one-page-inner one-default">
        <div class="container">
            <h1>What is SkyHQ and why should I care?</h1>
            <div class="row">
                <div class="col-md-6">
                    <p>We're working to create a better digital experience for users and businesses and to help people engage more meaningfully using context.</p>
                    <p>Higher quality and more meaninful engagement with context can help people to have a richer digital experience, and ultimately enabling people to lead more efficient and enjoyable digital lives.</p>
                    <a class="btn-u btn-u-large btn-u-green one-page-btn"><i class="icon-bolt"></i> What's different?</a>
                </div>
                <div class="col-md-6">
                    <%= image_tag 'img/new/img5.jpg', class: 'img-responsive margin-bottom-10' %>
                </div>
            </div>
        </div>
    </div>

    <div class="one-page-inner one-blue">
        <div class="container">
            <h1>Connecting your digital presence into your own central HQ</h1>
            <div class="row">
                <div class="col-md-6">
                    <%= image_tag 'img/new/img1.jpg', class: "margin-bottom-10 img-responsive" %>
                </div>
                <div class="col-md-6">
                    <p>Social networks are all over, you may have a presence on Facebook, Twitter, Google+, Youtube, various messaging apps and the list goes on and on. It's a mess and it's not the way it should be.</p> 
                    <p>But how do you connect with new people? Where do you begin? Now you can organize all your relevant networks once and share it with whomever. Finding you should be as simple as one link. We'll help you to organize you digital presence so that you can share the "you" that you want to share with the people you care about.</p>
                    <a class="btn-u btn-u-large btn-u-red one-page-btn"><i class="icon-bell"></i> How does that work?</a>
                </div>
            </div>
        </div>
    </div>

    <div class="one-page-inner one-grey">
        <div class="container">
            <h1>Create your own powerful command center and have your voice heard!</h1>
            <div class="row margin-bottom-40">
                <div class="col-md-6">
                    <p>In addition to helping you to centralize and aggregate your digital presence, we provide you with a good old fashioned bullhorn to give you the stage to talk about what you want to talk about. With your very own HQ hub, you can share your latest updates, with unique content types and push it out to all your networks at once.</p>
                    <a class="btn-u btn-u-large btn-u-blue one-page-btn"><i class="icon-bullhorn"></i> Get me my bullhorn already!</a>
                </div>
                <div class="col-md-6">
                    <%= image_tag 'img/new/img7.jpg', class: 'img-responsive' %>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <%= image_tag 'img/new/img6.jpg', class: 'margin-bottom-20 img-responsive' %>
                </div>
                <div class="col-md-6">
                   <h1>Connecting is nice, but I want to do more, what else can you offer? What sort of context are you referring to?</h1>
                   <p>In addition to aggregating your networks, we welcome you to store essentials which you use often, but don't want to re-enter everytime you have a new engagement with a person or company. We provide a digital briefcase where you can store key information and transact simple with businesses and people, whether it be for home deliveries or a meeting for coffee.</p>
                    <a class="btn-u btn-u-large btn-u-orange one-page-btn"><i class="icon-key"></i> HQ Locker</a>
                </div>
            </div>
        </div>
    </div>

    <div class="one-page-inner one-red">
        <div class="container">
            <h1>Communicate simply and directly with the people you care about</h1>
            <div class="row">
                <div class="col-md-6">
                    <p>The only constant is change. By using your HQ to update your various networks, profiles and latest information you're doing yourself and everyone else a service. One place you can surely be found is directly via your HQ center.</p>
                    <a class="btn-u btn-u-large btn-u-green one-page-btn"><i class="icon-comments-alt"></i> Communicate with Confidence</a>
                </div>
                <div class="col-md-6">
                    <%= image_tag 'img/new/img10.jpg', class: 'img-responsive margin-bottom-10' %>
                </div>
            </div>
        </div>
    </div>

    <div class="one-page-inner one-default">
        <div class="container">
            <h1>Dear businesses: it's time to be relevant again. </h1>
            <div class="row">
                <div class="col-md-6">
                    <%= image_tag 'img/main/8.jpg', class: 'img-responsive margin-bottom-10' %>
                </div>
                <div class="col-md-6">
                    <p>Connect with your customers in ways they will enjoy. We're putting everyone in the same boat. But business/companies are fundamentally and structurally different, so we're providing you with a different toolkit.</p> 
                    <p>For starters, corporations aren't people. We're pretty sure about that one. But they're filled with lots of great people and we're focused on getting all levels of your organization involved in your engagement efforts. Everyone from the shift workers to the global CEO should have a stake, and we're showing how you can leverage our tools to create big wins for you, your team and your customers.</p>
                    <div class="row margin-bottom-20">
                        <div class="col-md-3">
                            <a href="<%= asset_path 'img/main/1.jpg' %>" title="Project #2" data-rel="fancybox-button" class="thumbnail fancybox-button zoomer">
                                <span class="overlay-zoom">  
                                    <%= image_tag 'img/main/1.jpg', class: 'img-responsive' %>
                                    <div class="zoom-icon"></div>                   
                                </span>                                              
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="<%= asset_path 'img/main/2.jpg' %>" title="Project #2" data-rel="fancybox-button" class="thumbnail fancybox-button zoomer">
                                <span class="overlay-zoom">  
                                    <%= image_tag 'img/main/2.jpg', class: 'img-responsive' %>
                                    <div class="zoom-icon"></div>                   
                                </span>                                              
                            </a>                                                                                    
                        </div>
                        <div class="col-md-3">
                            <a href="<%= 'img/main/3.jpg' %>" title="Project #2" data-rel="fancybox-button" class="thumbnail fancybox-button zoomer">
                                <span class="overlay-zoom">  
                                    <%= image_tag 'img/main/3.jpg', class: 'img-responsive' %>
                                    <div class="zoom-icon"></div>                   
                                </span>                                              
                            </a>                                                                                    
                        </div>
                        <div class="col-md-3">
                            <a href="<%= asset_path 'img/main/4.jpg' %>" title="Project #2" data-rel="fancybox-button" class="thumbnail fancybox-button zoomer">
                                <span class="overlay-zoom">  
                                    <%= image_tag 'img/main/4.jpg', class: "img-responsive" %>
                                    <div class="zoom-icon"></div>                   
                                </span>                                              
                            </a>                                                                                    
                        </div>
                    </div>
                    <%= link_to register_path, class: 'btn-u btn-u-large btn-u-red one-page-btn' do %>
                        <i class="icon-briefcase"></i>Business Signup
                    <% end %>
                </div>
            </div>
            <hr>
            <div class="row">
               <div class="col-md-3">
                  <h3><a href="/about">About Us</a></h3>
                  <p>Pellentesque viverra vehicula sem ut volutpat dosum molor sit amet, consectetur adipiscing elit</p>
               </div>
               <div class="col-md-3">
                  <h3><a href="/faq">FAQ</a></h3>
                  <p>Lunt in lpa qui officia deserunt mollitia mo animi, asdid leoff iscia est labor le harum quidem rerum facilis</p>
               </div>
               <div class="col-md-3">
                  <h3><a href="/pricing">Premium Solutions</a></h3>
                  <p>Volutpat dosum esque viverra ved et quam lacusehicula sem ut  molorviverra sit amet, consetetur edipiscin la</p>
               </div>
               <div class="col-md-3">
                  <h3><a href="/contct">Contact Us</a></h3>
                  <p>Deleniti atque corrupa vehicula sem ut volutpat dosum molor sit amet, consectetur adipiscing praesentium</p>
               </div>
            </div>            
        </div>
    </div>    
</div><!--/one-page-->
<!-- End Content Part -->

