<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">Services</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="">Pages</a></li>
            <li class="active">Services</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">		
    <!-- Service Blcoks -->
    <div class="row servive-block margin-bottom-10">
        <div class="col-md-3 col-sm-6">
            <div class="servive-block-in servive-block-colored servive-block-green">
                <h4>Awasome Green Box</h4>
                <div><i class="icon-bell"></i></div>
                <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>                        
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="servive-block-in servive-block-colored servive-block-red">
                <h4>Reddde Box</h4>
                <div><i class="icon-bullhorn"></i></div>
                <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="servive-block-in servive-block-colored servive-block-sea">            
                <h4>Amazing Box</h4>
                <div><i class="icon-lightbulb"></i></div>
                <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="servive-block-in servive-block-colored servive-block-grey">            
                <h4>Great Grey Box</h4>
                <div><i class="icon-globe"></i></div>
                <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>
            </div>
        </div>
    </div><!--/servive-block-->

    <div class="row servive-block margin-bottom-10">
        <div class="col-md-3 col-sm-6">
            <div class="servive-block-in">
                <h4>Sample Default Box</h4>
                <div><i class="icon-comments-alt"></i></div>
                <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>                        
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="servive-block-in servive-block-colored servive-block-blue">
                <h4>Incridble Blue Box</h4>
                <div><i class="icon-cloud-download"></i></div>
                <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="servive-block-in servive-block-colored servive-block-orange">            
                <h4>Yahho Orange Box</h4>
                <div><i class="icon-thumbs-up"></i></div>
                <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="servive-block-in servive-block-colored servive-block-yellow">            
                <h4>Happy Yellow Box</h4>
                <div><i class="icon-map-marker"></i></div>
                <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>
            </div>
        </div>
    </div><!--/servive-block-->
    <!-- End Service Blcoks -->

	<!-- Tabs and Carousel-->
	<div class="row margin-bottom-30">
        <!-- Accardion-->
    	<div class="col-md-7">
			<div class="headline"><h2>Service Offers</h2></div>
            <div class="panel-group acc-v1" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                Collapsible Group Item #1
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <%= image_tag 'img/new/img5.jpg', class: 'img-responsive' %>
                                </div>
                                <div class="col-md-8">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                Collapsible Group Item #2
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                                    <ul class="list-unstyled">
                                        <li><i class="icon-ok color-green"></i> Donec id elit non mi porta gravida at eget metus..</li>
                                        <li><i class="icon-ok color-green"></i> Fusce dapibus, tellus ac cursus comodo egetine..</li>
                                        <li><i class="icon-ok color-green"></i> Food truck quinoa nesciunt laborum eiusmod runch..</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <%= image_tag 'img/main/6.jpg', class: 'img-responsive' %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                Collapsible Group Item #3
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Food truck quinoa nesciunt laborum eiusmodolf moon tempor, sunt aliqua put a bird. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                Collapsible Group Item #4
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                        </div>
                    </div>
                </div>
            </div><!--/acc-v1-->
        </div><!--/col-md-7-->
        <!--//End Accardion-->

        <!-- Latest Shots -->
        <div class="col-md-5">
            <div class="headline"><h2>Latest Shots</h2></div>
            <div id="myCarousel" class="carousel slide carousel-v1">
                <div class="carousel-inner">
                    <div class="item active">
                        <%= image_tag 'img/main/5.jpg' %>
                        <div class="carousel-caption">
                            <p>Facilisis odio, dapibus ac justo acilisis gestinas.</p>
                        </div>
                    </div>
                    <div class="item">
                        <%= image_tag 'img/main/4.jpg' %>
                        <div class="carousel-caption">
                            <p>Cras justo odio, dapibus ac facilisis into egestas.</p>
                        </div>
                        </div>
                    <div class="item">
                        <%= image_tag 'img/main/3.jpg' %>
                        <div class="carousel-caption">
                            <p>Justo cras odio apibus ac afilisis lingestas de.</p>
                        </div>
                    </div>
                </div>
                
                <div class="carousel-arrow">
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <i class="icon-angle-left"></i>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <i class="icon-angle-right"></i>
                    </a>
                </div>
            </div>
        </div><!--/col-md-5-->
        <!--//End Latest Shots -->
    </div><!--/row-->
	<!-- End Tabs and Carousel -->

    <%= render 'clients' %>
</div><!--/container-->		
<!--=== End Content Part ===-->
