<style type="text/css">
    .center {
        width: 400px;
        margin-right: auto;
        margin-left: auto;
    }
</style>
<div id="signup-page">
    <div class="container">
        <div class="row-fluid">
            <div class="center">
                <div class="text-center">
                    <div class="sky-logo">
                        <i class="icon-cloud"></i>
                        <span>SkyHQ</span>
                    </div>
                </div>
                <div class="page-bg">
                    <%= simple_form_for(@super_admin, as: :super_admin, url: session_path(:super_admin)) do |f| %>
                    <h2 class="no-top-margin">Login</h2>
                    <%= f.error_notification %>
                    <%= f.input :email, autofocus: true, required: true, label: false, input_html: {class: "col-lg-12"}, placeholder: "email address", :class => "form-control" %>
                    <%= f.input :password, :required => true, label: false, input_html: {class: "col-lg-12"}, placeholder: "password", :class => "form-control" %>
                    <button type="submit" class="btn btn-link btn-large">
                        submit <i class='icon-lock'></i>
                    </button>
                    <div class="clearfix">
                    </div>
                    <hr/><%= render "devise/shared/links" %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>