<p id="notice"><%= notice %></p>

<p>
  <b>Super admin:</b>
  <%= @online_store.super_admin_id %>
</p>
<ul>
	<% @products.each do |product| %>
		<li><%= link_to "#{product.name}", online_store_product_path(product) %></li>
	<% end %>
</ul>
<%= link_to "Add Products", new_online_store_product_path(@online_store) %>
<%= link_to 'Edit', edit_online_store_path(@online_store) %> |
<%= link_to 'Back', online_stores_path %>
