<div class="container">
    <div class="row">
        <!-- Begin Content -->
        <div class="col-md-9">
            <div class="row margin-bottom-10">
                <div class="table-responsive">
                    <h3>Store: <%= @online_store.name %></h3>
                    <% if @products.present? %>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Products
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @products.each do |product| %>
                            <tr>
                                <td>
                                    <%= link_to "#{product.name}", online_store_product_path(product) %>
                                </td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                    <% else %>
                    <h3 class="text-center">
                    <%= link_to "No products, add a product here!".html_safe, new_online_store_product_path(@online_store) %>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well sidebar-nav">
                <ul class="nav">
                    <li>
                        Navigation
                    </li>
                    <li>
                        <%= link_to "Add Products", new_online_store_product_path(@online_store) %>
                        <%= link_to 'Edit Store', edit_online_store_path(@online_store) %>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End Sidebar -->
    </div>
</div>
