<%= simple_form_for([@company_forum, @company_forum_topic, @forum_post]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<%= f.input :company_forum_topic_id, :as => :hidden, :value => @company_forum_topic.id %>
  	<%= f.input :post_body, :input_html => { :cols => 3, :rows => 3} %>
  </div>

  
    <%= f.button :submit, :class => "btn btn-primary btn-large" %>
  
<% end %>
