<!-- HEADER -->
<header id="header">
    <hgroup>
      <span class="visible-xs visible-sm">
      <div class="btn-header pull-left menu-left" style="margin-left: 10px;">
        <span> <a href="#" id="hit-menu" title="Collapse Menu"><i class="fa fa-bars"></i></a> </span>
        </div>
      </span>
      <h1 class="site-title text-center" style="font-size: 25px; padding-top: 10px;">

        <span id="logo" style="margin-top: -1px;">
            <a href="<%= root_path %>">
                <%= image_tag 'img/logo.png', alt: "SmartAdmin" %>
            </a>
        </span>
        <% if current_user == @user %>
            <% url = @user.avatar.blank? ? "img/profile-placeholder.png" : @user.avatar.url %>
            <a href="<%= edit_citizen_registration_path %>">
                <%= image_tag url , :height => "30", :width => "30", class: "entry-avatar" %>
            </a>
        <% end %>
      </h1>
    </hgroup>


    <!-- pulled right: nav area -->
    <!-- <div class="pull-left"> -->

        <!-- collapse menu button -->
        
       
        <!-- end collapse menu -->

        <!-- logout button -->
<!--         <div id="logout" class="btn-header transparent pull-right">
            <span> <a href="<%= logout_path %>" title="Sign Out"><i class="fa fa-sign-out"></i></a> </span>
        </div> -->
        <!-- end logout button -->

        <!-- search mobile button (this is hidden till mobile view port) -->
<!--         <div id="search-mobile" class="btn-header transparent pull-right">
            <span> <a href="/javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
        </div> -->
        <!-- end search mobile button -->

        <!-- input: search field -->
        <!-- <form action="#search.html" class="header-search pull-right">
            <input type="text" placeholder="Search" id="search-fld">
            <button type="submit">
                <i class="fa fa-search"></i>
            </button>
            <a href="/javascript:void(0);" id="cancel-search-js" title="Cancel Search"><i class="fa fa-times"></i></a>
        </form> -->
        <!-- end input: search field -->

    <!-- </div> -->
    <!-- end pulled right: nav area -->

</header>
<!-- END HEADER -->

        <!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel" >

    <!-- User info -->
    <div class="login-info">
        <span> <!-- User image size is adjusted inside CSS, it should stay as it --> <%#= image_tag "img/avatars/sunny.png", alt: "me", class: "online"  %> <a href="/javascript:void(0);" id="show-shortcut"><%= current_user.subdomain.capitalize rescue "" %> <i class="fa fa-angle-down"></i></a> </span>
    </div>
    <!-- end user info -->

    <!-- NAVIGATION : This navigation is also responsive

    To make this navigation dynamic please make sure to link the node
    (the reference to the nav > ul) after page load. Or the navigation
    will not initialize.
    -->
    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>.. 
             Please note that these links work a bit different than
             traditional hre="" links. See documentation for details.
            -->
        
        <ul>
            <% if current_citizen %>
                <li class=""><a href="<%= public_path %>" title="Blog"><i class="fa fa-lg fa-fw fa-home"></i>  <span class="menu-item-parent">Blog</span></a></li>
            <% end %>
            <% if current_super_admin %>
                <li><a href="<%= blog_path %>" title="Blog"><i class="fa fa-lg fa-fw fa-home"></i>  <span class="menu-item-parent">Blog</span></a></li>
            <% end %>
            <% if current_user %>
                <li>
                    <a href="<%= conversations_path %>">
                        <i class="fa fa-lg fa-fw fa-inbox"></i>
                        <span class="menu-item-parent">Inbox</span>
                        <span class="badge pull-right inbox-badge"></span>
                    </a>
                </li>
                <li>
                    <a href="<%= new_conversation_path %>">
                        <i class="fa fa-lg fa-fw fa-inbox"></i>
                        <span class="menu-item-parent">Compose Message</span>
                        <span class="badge pull-right inbox-badge"></span>
                    </a>    
                </li>
            <%end%>
            <% if current_super_admin %>
                <li class=""><a href="<%= locations_path %>" title="Locations HQ"><i class="fa fa-lg fa-fw fa-home"></i>  <span class="menu-item-parent">Locations HQ</span></a></li>
                <li><a href="<%= online_stores_path %>"><i class="fa fa-lg fa-fw fa-bar-chart-o"></i>  <span class="menu-item-parent">Orders HQ</span></a></li>
                <li><a href="<%= company_forums_path %>"><i class="fa fa-lg fa-fw fa-table"></i>  <span class="menu-item-parent">Communications HQ</span></a></li>
                  <li><a href="<%= public_path %>"><i class="fa fa-lg fa-fw fa-pencil-square-o"></i>  <span class="menu-item-parent">Public HQ</span></a></li>
                <li><a href="#"><i class="fa fa-lg fa-fw fa-desktop"></i>  <span class="menu-item-parent">Team HQ</span></a></li>
                <li><a href="#"><i class="fa fa-lg fa-fw fa-desktop"></i>  <span class="menu-item-parent">Vendors HQ</span></a></li>
                <li><a href="#"><i class="fa fa-lg fa-fw fa-desktop"></i>  <span class="menu-item-parent">Customers HQ</span></a></li>
                <li><a href="<%= company_docs_path %>"><i class="fa fa-lg fa-fw fa-desktop"></i>  <span class="menu-item-parent">Docs HQ</span></a></li>
            <% end %>
            <!-- <li><a href="#"><i class="fa fa-lg fa-fw fa-windows"></i>  <span class="menu-item-parent">Miscellaneous</span></a>
                <ul>
                     <li>
                        <%= link_to "My Profile", current_citizen ? profile_path : business_profile_path %>
                     </li>
                     <li><a href="/logout">Sign Out</a></li>
                </ul>
            </li> -->                       
        </ul>
    </nav>
    <span class="minifyme"> <i class="fa fa-arrow-circle-left hit"></i> </span>

</aside>
<!-- END NAVIGATION -->