<!-- HEADER --> 
<div class="hide-body">
<header id="header">
  <hgroup>
    <% if current_user %>
      <% unless current_user.subdomain != request.subdomain %>
        <!-- <span class="visible-lg visible-md"> -->
        <div class="btn-group pull-left" style="min-width: 200px;margin-top: 5px;">
     
            <a href="#" data-toggle="dropdown" style="font-size: 26px;margin-left: 10px;margin-top: 10px;color:#333;">
              <%#= image_tag 'img/logo.png', alt: "SmartAdmin", :style=>"margin-top: 5px;" %>
              <strong>HQ</strong>
            </a>
          
          <ul class="dropdown-menu" style="width: auto;">
          <li>
            <a href="#" id="show-shortcut">
        <%= current_user.subdomain.capitalize rescue "" %> <i class="fa fa-angle-down"></i></a> </a>
          </li>
            <% if current_citizen %>
                <li class="" style=""><a href="<%= public_path %>" title="Blog"><i class="fa fa-lg fa-fw fa-home box-panel-inline"></i>  <span class="menu-item-parent">Blog</span></a></li>
            <% end %>
            <% if current_super_admin %>
                <li><a href="<%= blog_path %>" title="Blog"><i class="fa fa-lg fa-fw fa-home box-panel-inline"></i>  <span class="menu-item-parent">Blog</span></a></li>
            <% end %>
            <% if current_user %>
                <li>
                    <a href="<%= conversations_path %>">
                        <i class="fa fa-lg fa-fw fa-inbox box-panel-inline"></i>
                        <span class="menu-item-parent">Inbox</span>
                        <span class="badge pull-right inbox-badge"></span>
                    </a>
                </li>
                <li>
                    <a href="<%= new_conversation_path %>">
                        <i class="fa fa-lg fa-fw fa-envelope-o box-panel-inline"></i>
                        <span class="menu-item-parent">Compose Message</span>
                        <span class="badge pull-right inbox-badge"></span>
                    </a>    
                </li>
            <%end%>
            <% if current_super_admin %>
                <li class=""><a href="<%= locations_path %>" title="Locations HQ"><i class="fa fa-lg fa-fw fa-home"></i>  <span class="menu-item-parent">Locations HQ</span></a></li>
                <li><a href="<%= online_stores_path %>"><i class="fa fa-lg fa-fw fa-bar-chart-o"></i>  <span class="menu-item-parent">Orders HQ</span></a></li>
                <li><a href="<%= company_forums_path %>"><i class="fa fa-lg fa-fw fa-table"></i>  <span class="menu-item-parent">Communications HQ</span></a></li>
                  <li><a href="<%= public_path %>"><i class="fa fa-lg fa-fw fa-pencil-square-o"></i>  <span class="menu-item-parent">Public HQ</span></a></li>
                <li><a href="#"><i class="fa fa-lg fa-fw fa-desktop"></i>  <span class="menu-item-parent">Team HQ</span></a></li>
                <li><a href="#"><i class="fa fa-lg fa-fw fa-desktop"></i>  <span class="menu-item-parent">Vendors HQ</span></a></li>
                <li><a href="#"><i class="fa fa-lg fa-fw fa-desktop"></i>  <span class="menu-item-parent">Customers HQ</span></a></li>
                <li><a href="<%= company_docs_path %>"><i class="fa fa-lg fa-fw fa-desktop"></i>  <span class="menu-item-parent">Docs HQ</span></a></li>
            <% end %>
          </ul>
        </div>
        <!-- </span> -->
      <% end %>
    <% end %>

    <h1 class="site-title text-center" style="font-size: 25px; padding-top: 10px; height: 50px;">
      <span id="logo" style="margin-top: -1px;margin-right:200px;">
        <a href="<%= root_path %>" style="color:#333;">
          <!-- <strong><%= current_user.subdomain.capitalize rescue "" %></strong> -->
          <%= image_tag 'img/logo.png', alt: "SmartAdmin", :style=>"margin-top: 2px;" %>
        </a>
      </span>

      <% if current_user %>
        <% url = current_user.avatar.blank? ? "img/profile-placeholder.png" : current_user.avatar.url %>
        <% unless current_user.subdomain != request.subdomain %>
          <div class="btn-group pull-right">
            <a href="#" data-toggle="dropdown">
              <%= image_tag url , :height => "30", :width => "30", class: "entry-avatar" %>
            </a>
            <ul class="dropdown-menu" style="width: 20px;">
              <li>
                <%= link_to "Setting", edit_citizen_registration_path, :style => "text-align: left" %>
              </li>
              <li>
                <%= link_to "Logout", logout_path, :style => "text-align: left" %>
              </li>
            </ul>
          </div>
        <% end %>
      <% end %>
    </h1>
  </hgroup>

</header>
<!-- END HEADER -->

        <!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<!-- style="height: 100%; top: 0; -->

<!-- END NAVIGATION -->
</div>
