<head>
    <title></title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" href="../assets/registration/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/registration/style.css">
    <link rel="stylesheet" href="../assets/registration/header1.css">
    <link rel="stylesheet" href="../assets/registration/responsive.css">
    <link rel="shortcut icon" href="favicon.ico">        
    <!-- CSS Implementing Plugins -->    
    <link rel="stylesheet" href="../assets/registration/font-awesome.css">
    <!-- CSS Page Style -->    
    <link rel="stylesheet" href="../assets/registration/page_log_reg_v2.css">    
    <!-- CSS Theme -->    
    <link rel="stylesheet" href="../assets/registration/default.css" id="style_color">
</head> 

<body>

    
<div class="container">
    <!--Reg Block-->
    <div class="reg-block">
        <div class="reg-block-header">
           <h2>Forgot your password?</h2>

           
        </div>
<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= f.error_notification %>
        <div class="input-group margin-bottom-20">
            <span class="input-group-addon"><i class="icon-user"></i></span>
             <%= f.text_field :email,:placeholder=>"Email", :required => true, :autofocus => true,:class=>"form-control margin-bottom-20" %> 
        </div>
 
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <%= f.button :submit, "Send me reset password instructions" ,:class=>"btn-u btn-block" %>                                       
            </div>
        </div>

        <% end %>
                    <%= render "citizens/shared/links" %>

    </div>
    <!--End Reg Block-->
</div><!--/container-->
<!--=== End Content Part ===-->


<!-- JS Page Level -->           

<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
<![endif]-->

</body>
</html> 