<div class="container">
    <div class="row">
        <!-- Begin Content -->
        <div class="col-md-9">
            <div class="row margin-bottom-10">
                <%= gmaps4rails(@json) %>
                <div class="table-responsive">
                    <h3>Business Locations:</h3>
                    <% if @locations.present? %>
                    <table id="businesses" class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Address
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @locations.each do |location| %>
                            <tr>
                                <td>
                                    <%= link_to "#{location.name}", location_path(location) %>
                                </td>
                                <td>
                                    <%= link_to "#{location.gmaps4rails_address}", location_path(location) %>
                                </td>
                                <td>
                                    <%= link_to "Edit" ,edit_location_path(location) %> | <%= link_to "Remove", location_path(location), :data => { :confirm => "Are you sure?" }, :method => :delete %>
                                </td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
                <% else %>
                <h3 class="text-center">
                Add up to 10 business locations. <%= link_to "Add a business location.".html_safe, new_location_path %>
                <% end %>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well sidebar-nav">
                <ul class="nav">
                    <li>
                        Navigation
                    </li>
                    <li>
                        <%= link_to "Add business location".html_safe, new_location_path %>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End Sidebar -->
    </div>
</div>
