<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="well sidebar-nav">
                <ul class="nav">
                    <li>
                        Navigation
                    </li>
                    <li>
                        <%= link_to "Add Manager".html_safe, new_location_manager_path(@location) %>
                        <%= link_to 'Edit Location', edit_location_path(@location) %>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End Sidebar --><!-- Begin Content -->
        <div class="col-md-9">
            <div class="row margin-bottom-10">
                <%= gmaps4rails(@json) %>
                <h3><b>Location Name: </b><%= @location.name %></h3>
                <h3><b>Location: </b><%= @location.gmaps4rails_address %></h3>
                <% unless @managers.nil? %>
                <h2 style="text-decoration:underline;">Managers</h2>
                <div class="table-responsive">
                    <table id="businesses" class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Title
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @managers.each do |manager| %>
                            <tr>
                                <td>
                                    <%= link_to "#{manager.name}", location_manager_path(@location, manager) %>
                                </td>
                                <td>
                                    <%= link_to "#{manager.title}", location_manager_path(@location, manager) %>
                                </td>
                                <td>
                                    <%= link_to "Cancel Manager's Account", location_manager_path(@location, manager), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "btn btn-danger" %>
                                </td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
                <!-- <h2>Staff/Employees</h2> -->
                <ul>
                    <%# @employees.each do |employee| %>
                    <li>
                        <%#= link_to "#{employee.name}", business_employee_path(employee) %>
                    </li>
                    <%# end %>
                </ul>
                <div class="smallMenuItems">
                    <%= link_to 'Go Back', locations_path, :class => "btn btn-warning" %>
                    <%#= link_to 'Create New Employee', new_business_employee_path(@business) %>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
