<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->

        <title> 
        <% if request.subdomain == current_user.subdomain %>
            <%= current_user.subdomain.capitalize rescue "Bussines" %> | SkyHQ 
        <% else %>
            <%= request.subdomain.capitalize rescue "Bussines" %> | SkyHQ 
        <% end %>
        </title>
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="google-site-verification" content="XctaEtPh_sipiDtfC_XgfdKcWK3EyQDmGtjKhiEd6LE" />

        <!-- Use the correct meta names below for your web application
             Ref: http://davidbcalhoun.com/2010/viewport-metatag 
             
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">-->
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- Basic Styles -->
        <!-- <link rel="stylesheet" type="text/css" media="screen" href="/css/font-awesome.min.css"> -->
        
		<%= stylesheet_link_tag "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= javascript_include_tag "blog" %>
        <%= stylesheet_link_tag 'xcustom_pagination' %>
        <%= csrf_meta_tags %>

        <!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->

        <%= stylesheet_link_tag "/css/smartadmin-production", :media => "screen" %>
        <%= stylesheet_link_tag "/css/smartadmin-skins", :media => "screen" %>
        <!-- <link rel="stylesheet" type="text/css" media="screen" href="/css/smartadmin-production.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/css/smartadmin-skins.css"> -->


        <!-- FAVICONS -->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">

        <!-- GOOGLE FONT -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
        <style>
            #header>:first-child{
                width: 100% !important;
            }
            /*#left-panel{display: none;}*/
        </style>
    </head>
    <body class="">
        <!-- possible classes: minified, fixed-ribbon, fixed-header, fixed-width-->

       <%= render "layouts/partials/headersmartadmin" %>

        <!-- MAIN PANEL -->
        <div id="main" role="main" style="background-color:#474544">

            <!-- RIBBON -->
            <!-- <div id="ribbon">

                <span class="ribbon-button-alignment"> <span id="refresh" class="btn btn-ribbon" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true"><i class="fa fa-refresh"></i></span> </span>

                <ol class="breadcrumb">
                    <li>
                        Add code for breadcrumb here
                    </li>
                </ol>

                You can also add more buttons to the
                ribbon for further usability

                Example below:

                <span class="ribbon-button-alignment pull-right">
                <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
                <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
                <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
                </span>

            </div> -->
            <!-- END RIBBON -->

            <!-- MAIN CONTENT -->
            <div id="content" style="overflow-y:auto; overflow-x:hidden;">
                <div class='flash_msg_container'>
                    <%= flash_messages %>
                </div>
                
                <%= yield  %>
            </div>
            <!-- END MAIN CONTENT -->

        </div>
        <!-- END MAIN PANEL -->

        <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
        <!-- <script data-pace-options='{ "restartOnRequestAfter": true }' src="/js/plugin/pace/pace.min.js"></script> -->

        <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
        <script>
            if (!window.jQuery) {
                document.write('<script src="/js/libs/jquery-2.0.2.min.js"><\/script>');
            }
        </script>

        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script>
            if (!window.jQuery.ui) {
                document.write('<script src="/js/libs/jquery-ui-1.10.3.min.js"><\/script>');
            }
        </script>

        <!-- JS TOUCH : include this plugin for mobile drag / drop touch events
        <script src="/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> -->

        <!-- BOOTSTRAP JS -->
        <script src="/js/bootstrap/bootstrap.min.js"></script> 
        <%#= javascript_include_tag "/js/bootstrap/bootstrap.min" %>

        <!-- CUSTOM NOTIFICATION -->
        <script src="/js/notification/SmartNotification.min.js"></script> 
        <%#= javascript_include_tag "/js/notification/SmartNotification.min" %>

        <!-- JARVIS WIDGETS -->
        <script src="/js/smartwidgets/jarvis.widget.min.js"></script> 
        <%#= javascript_include_tag "/js/smartwidgets/jarvis.widget.min" %>

        <!-- EASY PIE CHARTS -->
        <script src="/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script> 
        <%#= javascript_include_tag "/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min" %>

        <!-- SPARKLINES -->
        <script src="/js/plugin/sparkline/jquery.sparkline.min.js"></script> 
        <%#= javascript_include_tag "/js/plugin/sparkline/jquery.sparkline.min" %>

        <!-- JQUERY VALIDATE -->
        <script src="/js/plugin/jquery-validate/jquery.validate.min.js"></script> 
        <%#= javascript_include_tag "/js/plugin/jquery-validate/jquery.validate.min" %>

        <!-- JQUERY MASKED INPUT -->
        <script src="/js/plugin/masked-input/jquery.maskedinput.min.js"></script> 
        <%#= javascript_include_tag "/js/plugin/masked-input/jquery.maskedinput.min" %>

        <!-- JQUERY SELECT2 INPUT -->
        <script src="/js/plugin/select2/select2.min.js"></script> 
        <%#= javascript_include_tag "/js/plugin/select2/select2.min" %>

        <!-- JQUERY UI + Bootstrap Slider -->
        <script src="/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script> 
        <%#= javascript_include_tag "/js/plugin/bootstrap-slider/bootstrap-slider.min" %>

        <!-- browser msie issue fix -->
        <script src="/js/plugin/msie-fix/jquery.mb.browser.min.js"></script> 
        <%#= javascript_include_tag "/js/plugin/msie-fix/jquery.mb.browser.min" %>

        <!-- SmartClick: For mobile devices -->
        <script src="/js/plugin/smartclick/smartclick.js"></script> 
        <%#= javascript_include_tag "/js/plugin/smartclick/smartclick" %>

       <!-- <script src="/assets/jquery.jeditable.js"></script>  -->
        <%= javascript_include_tag "jquery.jeditable" %>
        <!--[if IE 7]>

        <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

        <![endif]-->

        <!-- MAIN APP JS FILE -->
        <!-- <script src="/js/app.js"></script> -->
        <%= javascript_include_tag "/js/app" %>

        <!-- PAGE RELATED PLUGIN(S) 
        <script src="/..."></script>-->
        <%= yield :scripts %>
        

        <script type="text/javascript">
        // DO NOT REMOVE : GLOBAL FUNCTIONS!
        $(document).ready(function() {
            console.log($('div#main').width());
            pageSetUp();
            $('#hit-menu').click(function(){
              $('.hit').click();
            });
            // if($('div#main').width() < 778){
            //     $('.hit').click();
            //     $('.hit').hide();
            // }else{$('.hit').show();}
        });
        </script>


        <!-- Your GOOGLE ANALYTICS CODE Below -->
        <script type="text/javascript">
            var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
                _gaq.push(['_trackPageview']);
            
            (function() {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();

        </script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>

    </body>

</html>