<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= meta_tags                %>
  <%= favicon                  %>
  <%= stylesheets :application %>
  <%= javascripts :application %>
  <%= google_analytics         %>
  <%= yield(:head)             %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
</head>
<body class="sidebar-max">
  <%= render partial: 'shared/top_bar', locals: {logged_in: false} %>

<div class="container-fluid" id="container">
  <div class="row-fluid">
    <div class="span4"></div>
    <div class="span4">
      <br /><br /><br />
      <div class="panel" id="panel-login">
         <%= yield %>    
      </div><!-- /.panel -->

    </div><!-- /.span4 -->

  </div><!-- /.row-fluid -->

</div>

</body>
</html>
